<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ant.anttestlibrary">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name="com.ant.app_base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:replace="android:icon, android:label,android:theme">

        <activity android:name="com.ant.modul.dataBinding.HomeActivity">


        </activity>
        <activity android:name="com.ant.kotlin.activity.LifeTestActivity" />
        <activity android:name="com.ant.kotlin.activity.Launcher">


        </activity>
        <!--        MVVM测试用例-->
        <activity android:name="com.ant.modul.mvvm.HomeActivity">

        </activity>
        <activity
            android:name="com.ant.anttestlibrary.activity.HomeTabActivity"
            android:launchMode="singleInstance">


        </activity>

        <activity android:name=".activity.StepActivity">


        </activity>
        <activity android:name=".activity.DashboardActivity">


        </activity>

        <!--        <service-->
        <!--            android:name=".service.AccessibilityService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.accessibilityservice.AccessibilityService"/>-->
        <!--            </intent-filter>-->
        <!--            <meta-data-->
        <!--                android:name="android.accessibilityservice"-->
        <!--                android:resource="@xml/accessibility"/>-->
        <!--        </service>-->
        <!--        无障碍开发-->
        <activity android:name=".activity.AccessibilityActivity">


        </activity>

        <activity android:name=".activity.InputActicity2">


        </activity>
        <!--键盘输入-->
        <activity android:name=".activity.InputActicity">


        </activity>
        <activity
            android:name=".activity.PagerSnapHelperActivity2"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".activity.NewIntenActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/AppLaunchTheme">


        </activity>


        <!--<activity android:name="com.ant.anttestlibrary.activity.RxTimeTextActivity">-->


        <!--</activity>-->

        <service
            android:name="com.ant.modul.aild.ClientService"
            android:process=":anthui">


        </service>

        <!--        跨进程服务通讯-->
        <activity android:name="com.ant.modul.aild.ClientActivity">

        </activity>
        <activity android:name="com.ant.modul.lifecycle.LifecycleActivity">


        </activity>
        <activity android:name="com.ant.modul.lifecycle.LifecycleActivity2" />

        <activity android:name="com.ant.modul.test.androidTest.LoginActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>